.section {
    
    border: 2px solid black;
    box-shadow: 3px 3px black;
    margin: 0 auto 15px auto;
    padding: 0 10px 0;
    max-width: 90%;
}

.decor {
    background-color: #90C3D4;
}

.electronics {
    background-color: #D4A190;
}

.container {
    background-color: #A1D490;
}

.appliance {
    background-color: #C390D4;
}